<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--	上面的依赖可以从mybatis中文网复制	-->
<!-- namespace属性为Mapper接口全限定名一致 -->
<mapper namespace="com.example.springboot3guidance.mapper.StudentMapper">
    <!--  id为Mapper接口中对应的方法名，resultType为返回的实体全类名  -->
    <select id="findGirl" resultType="com.example.springboot3guidance.entity.Student">
        SELECT * FROM student WHERE gender = '女'
    </select>

    <select id="findById" resultType="com.example.springboot3guidance.entity.Student">
        SELECT * FROM student WHERE id = #{id}
    </select>

    <insert id="insertStudent" parameterType="com.example.springboot3guidance.entity.Student">
        insert into student(id,name,gender,age,class_name)
        values (#{id},#{name},#{gender},#{age},#{class_name});
    </insert>

    <delete id="deleteById" parameterType="int">
        DELETE FROM student WHERE id = #{id}
    </delete>

    <update id="updateClassName">
        UPDATE student SET class_name = #{class_name} WHERE id = #{id};
    </update>

</mapper>